.idea
main.js*
test.js*
test_all.js*
test_all.html*
*.asm.js
*.wasm
*.wast
*.gz
*.mem
*.bc
*.a
cmake-build-debug
.DS_Store
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
unittests
.pub
packages
pubspec.lock
.packages

giant_widgets.h
giant.js
test_giant
web/giant_widgets.dart
