*[widget] {
    border: 1px solid black;
    padding: 1px;
    margin: 1px;
}

.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 100px;
}

.status-cell {
    display: flex;
    flex-direction: row;
    width: 200px;
}

.active-status {
    background-color: #89C35C;
}
